main {
  display: flex;
  flex-direction: column;
}

.header {
  max-height: 100vh;
  .main-img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
}

.button {
  background-color: #000;
  border: none;
  font-family: "Montserrat", "sans-serif";
  font-size: 1.25rem;
  color: #fff;
  padding: 0.5% 1.5%;
}

.intro-container {
  margin-top: 0;
  background-color: #003941;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0;
    h2 {
      color: #fff;
      margin-top: 0;
      margin-bottom: 1.2%;
      text-transform: capitalize;
      font-family: "Crimson Text", serif;
      font-size: 4rem;
    }
  }
}
