.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2%;
  height: 60px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 0;
  z-index: 100;

  a {
    font-family: "Montserrat", "sans-serif";
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
  }
  button {
    margin-right: 4%;
  }
}

.nav-border {
  border-bottom: 1px solid #000;
}
